@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --gradient: linear-gradient(to right, #EB2CFC, #62CCFA);
  --gradient-hover: linear-gradient(to right, #D10FE8, #4FB8E8);
  --font: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

.nav {
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
  position: fixed;
  width: 100vw;
  margin: 0;
}

.title-logo {
  font-family: 'Leckerli One', cursive;
  font-size: 1.3rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colored-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colored-text:hover {
  background: var(--gradient-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-nav {
  display: flex;
  gap: 3vw;
}

.page-nav-button {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.1);
}

.page-nav-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.active {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  width: 100vw;
  height: 100vh;
}

.main-page-calculator {
  padding-top: 5vh;
}

.main-page-calculator, .main-page-display {
  margin-top: 10vh;
}

.about-container {
  width: 100%;
}

.about-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding-top: 13vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

.about-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 5vh 5vw;
  gap: 1rem;
}

.about-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin: 5vh 5vw;
}

.about-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin: 13vh 5vw;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.subscribe-page {
  padding-top: 20vh;
}